Memory Storage in Supabase.json
{
  "name": "Memory Storage in Supabase",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -784,
        32
      ],
      "id": "bf28baf5-1f80-409d-aba4-e5c0f5d66694",
      "name": "When chat message received",
      "webhookId": "0ea5210a-5b88-47a3-8072-93aef579b70a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=ou are a helpful assistant with memory and knowledge capabilities.\n\n🕒 Context Awareness\n\n- Current date and time: {{$now}}.\n- Always personalize responses using this context.\n\n📊 Product Information (Google Sheets: \"Product Info\")\n\n- You have access to the Google Sheets tool named \"Product Info\".\n- This sheet contains product details: product_url, product name, price, description, and topic.\n- Whenever the user asks about products, always check this sheet first.\n- If the user asks for a product link, always provide the exact product_url from the sheet.\n- If the user asks about descriptions, prices, or availability, always use the corresponding sheet data.\n- Never reveal that you are using Google Sheets. Present the data naturally.\n\n💾 Memory Handling (Supabase: \"Store_Memory\")\n\n- You also have access to Supabase tools for storing and retrieving user insights.\n- After every user message, you must ALWAYS store insights in Supabase using the \"Store_Memory\" tool.\n- Information to store:\n    \n    • What the user is looking for\n    \n    • Products they are interested in\n    \n    • Any problems, objections, or challenges mentioned\n    \n    • Key insights about their needs\n\n💾 Getting memory (Supabase: \"Get_Memory\")\n\n- You also have acess to Supabase tools for getting data in supabase \n- You can get data from supabase to give user what he demands \n- Data to get:\n    . URL of product\n    . Price of product\n    . Name of product\n\n\n- Before answering, you should call \"Get_Memory\" to retrieve past insights. Use these to make answers more personalized.\n\n📌 Rules\n\n- Never skip saving memory. Always call \"Store_Memory\" after responding.\n- Never tell the user you are using Supabase or Google Sheets.\n- Your role is to guide the user toward product discovery and decision-making by combining fresh sheet data and stored memory.\nWhen using tools, always format inputs exactly as required:\n\nFor Google Sheets (\"Product Info\"):\n\n- Always query by column names exactly as they appear: \"product_url\", \"product Name\", \"product price\", \"product Description\", \"product Topic\".\n- Example:\n{ \"action\": \"lookup\", \"column\": \"product Name\", \"value\": \"Wireless Earbuds Pro\" }\n\nFor Supabase (\"Store_Memory\"):\n\n- Always provide both table and values fields.\n- Example:\n{ \"table\": \"customer_memory\", \"values\": { \"user_query\": \"looking for earbuds\", \"interest\": \"audio products\" } }\n\nNever send free text to tools. Always follow these JSON schemas.\n\n🎯 Example behavior:\n\nUser: “Do you have any earbuds?”\n\n→ Check Google Sheet for product description & link.\n\n→ Retrieve past memory to see if user already asked about audio products.\n\n→ Respond: “Yes! I have Wireless Earbuds Pro, great for high-quality sound. Would you like me to share the purchase link?”\n\n→ Then store in memory: User interested in earbuds."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        32
      ],
      "id": "a0764be2-358c-434c-bbfc-f6a233267e9f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d5fe39f-6980-4f59-8b84-9baa686fef58",
              "name": "text",
              "value": "={{ $json.raw_text }}",
              "type": "string"
            },
            {
              "id": "15a04374-9e7e-498f-b820-d0c982bba225",
              "name": "customer name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "de78899d-e1ab-4bdc-acca-6f2999f88bde",
              "name": "customer_email",
              "value": "={{ $json.customer_email }}",
              "type": "string"
            },
            {
              "id": "c6b5762d-4ee4-4a84-b20c-7e94b6f8e928",
              "name": "customer_phone",
              "value": "={{ $json.customer_phone }}",
              "type": "string"
            },
            {
              "id": "261ae05f-b8eb-4f64-9785-71d7e247f529",
              "name": "product_interest",
              "value": "={{ $json.product_interest }}",
              "type": "string"
            },
            {
              "id": "0e573e89-1fe5-46d4-bf13-6d486df2988d",
              "name": "customer_intent",
              "value": "={{ $json.customer_intent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        32
      ],
      "id": "a9b947f5-a5d8-4a7a-98d0-d920679a73b9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        208
      ],
      "id": "8c06b1a8-2321-42e4-bcfd-56066e333097",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// -----------------------\n// Get text input\n// -----------------------\nconst input = $json.chatInput || \"\";\nconst text = input.trim();\n\n// -----------------------\n// Extract Email\n// -----------------------\nlet email = null;\nconst emailMatch = text.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\nif (emailMatch) email = emailMatch[0];\n\n// -----------------------\n// Extract Phone Number\n// Supports PK formats:\n//  - 03XXXXXXXXX\n//  - +923XXXXXXXXX\n//  - 923XXXXXXXXX\n// Removes spaces, dashes, brackets\n// -----------------------\nlet phone = null;\nconst phoneMatch = text.match(/(?:\\+?92|0)?3[0-9]{9}/);\nif (phoneMatch) {\n  phone = phoneMatch[0].replace(/\\D/g, \"\"); // clean to digits\n}\n\n// -----------------------\n// Extract Name\n// Detects:\n// - my name is Anam Khan\n// - I am Anam\n// - I'm John Doe\n// - this is Ali Raza\n// -----------------------\nlet name = null;\nconst nameMatch = text.match(/(?:my name is|i am|i'm|this is)\\s+([A-Za-z]+(?:\\s+[A-Za-z]+)*)/i);\nif (nameMatch) {\n  name = nameMatch[1].trim();\n}\n\n// -----------------------\n// Extract Product\n// Detects:\n// - buy iPhone 15\n// - looking for Samsung Buds\n// - need HP laptop\n// - want Dell XPS 13\n// -----------------------\nlet product = null;\n\nconst productMatch = text.match(/(?:buy|purchase|order|want|looking for|need)\\s+([A-Za-z0-9\\s\\-]+)/i);\nif (productMatch) {\n  product = productMatch[1]\n    .replace(/(my name is|my email is|i am|i'm|this is).*/i, \"\") // stop capturing after unrelated words\n    .trim();\n}\n\n// -----------------------\n// Detect Intent\n// -----------------------\nlet intent = \"unknown\";\n\nif (/buy|purchase|order|looking for|need/i.test(text)) intent = \"buy\";\nelse if (/return|refund/i.test(text)) intent = \"return\";\nelse if (/complain|issue|problem/i.test(text)) intent = \"complaint\";\nelse if (/help|support/i.test(text)) intent = \"support\";\n\n// -----------------------\n// Final Output JSON\n// (Always null instead of \"\")\n// Safe for Supabase BIGINT\n// -----------------------\n\nreturn [\n  {\n    json: {\n      raw_text: text,\n      customer_name: name || null,\n      customer_email: email || null,\n      customer_phone: phone || null,\n      customer_intent: intent,\n      product_interest: product || null,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        32
      ],
      "id": "9ac90b25-1a25-4fd2-ac2b-41e9cab88409",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        208
      ],
      "id": "71d7808c-a2ea-4a1e-b78d-9b09871e26c4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "guIE10sibTk2FlHd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_sglJxoNeOUzOthvLfoD2Q_4vzMStfEbkBk4gL0UKK8",
          "mode": "list",
          "cachedResultName": "Product Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_sglJxoNeOUzOthvLfoD2Q_4vzMStfEbkBk4gL0UKK8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_sglJxoNeOUzOthvLfoD2Q_4vzMStfEbkBk4gL0UKK8/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        160,
        208
      ],
      "id": "e3175023-9ec3-474b-af7e-de9e4a05f946",
      "name": "Products Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AcDjDFnM3Rj8M4lO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json['customer name'] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.customer_email }}"
            },
            {
              "fieldId": "phone number",
              "fieldValue": "={{ $json.customer_phone }}"
            },
            {
              "fieldId": "product Interest",
              "fieldValue": "={{ $json.product_interest }}"
            },
            {
              "fieldId": "customer intent",
              "fieldValue": "={{ $json.customer_intent }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        288,
        256
      ],
      "id": "95049bc1-534e-48e6-bd7c-1b6e05b06b7c",
      "name": "Store_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "Vrtuv6Zco3RzjLHq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Products",
        "filters": {
          "conditions": [
            {
              "keyName": "customer intent",
              "keyValue": "={{ $json.customer_intent }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        464,
        224
      ],
      "id": "b317b993-fdf6-45d4-91e1-72b513dddc76",
      "name": "Get_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "Vrtuv6Zco3RzjLHq",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Products Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Store_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fd2f93d-e369-4963-b5c1-e9bdf69d6ce7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b380b8ff1680d7ec51d9edad3de4deb7250b8279b40099a1087d84c412ad8352"
  },
  "id": "B6Fv1kjtkZD7MJik",
  "tags": []
}